
/* Paddings */

.padding-0{
	 padding: 0px!important;
}
.padding-5{
	 padding: 5px!important;
}
.padding-20{ 
	padding: 20px; 
}
.padding-10{ 
	padding: 10px!important; 
}
.padding-20-30{ 
	padding: 20px 30px; 
}
.padding-20-40{
 	padding: 20px 40px; 
}
.padding-btm-0{ 
	padding-bottom: 0px!important;
}
.padding-top-0{ 
	padding-top: 0px!important;
}
.padding-left-10{ 
	padding-left:10px!important;
}
.padding-right-10{ 
	padding-right:10px!important;
}
.padding-top-0-20{ 
	padding: 0px 20px 20px 20px
}
.padding-left{ 
	padding-left:0px!important;
}
.padding-btm-20{ 
	padding-bottom:20px; 
}
.padding-20-10{
	padding: 20px 10px!important
}
.padding-20-0{ 
	padding: 20px 0px!important; 
}
.padding-0-20{ 
	padding: 0px 20px!important; 
}
.loading-spinner-space{ 
	padding:20px 0px 25px;
}
.padding-10-20{ 
	padding: 10px 20px!important; 
}
.padding-10-15{ 
	padding: 10px 15px!important; 
}
.padding-20-10-profile{ 
	padding: 20px 10px!important; 
}
.padding-15{ 
	padding: 0px 15px!important; 
}
.padding-15-20{
	padding:15px 20px;
}
.padding-15-5{
	padding:15px 5px!important;
}
.padding-10-0-20{
	padding: 10px 20px 0px !important 
}
.pad-15{
	padding:0px 13px 0px 0px;
}
.padding-btm-10{ 
	padding-bottom:10px!important;  
}
.padding-btm-5{ 
	padding-bottom:5px!important;  
}
.padding-skill-edit{
	padding:10px 10px 0px 10px!important;
}

.padding-10-0{
	padding:10px 0px;
}
.padding-5-10{
	padding:5px 10px!important;
}

.padding-10-5{
	padding:10px 5px!important;
}
.padding-15-10{
	padding:15px 10px!important;
}

.padd-15{
	padding:15px!important;
}

.padding-top-10{
	padding-top:10px;
}

.block-padd-0{
	padding-right:0px!important;
	padding-left:0px!important;
}

.padd-60-each{
	padding:60px 0px;
}
.no-padding-grid{
	padding-left:0px!important;
}
.padding-25{
	padding:0px 25px!important;
}

.padding-12{
	padding:12px 0px;
}
.padding-left-0{
	padding-left:0px!important;
}
.padding-left-15{
	padding-left:15px!important;
}
.padding-alert-without-space{
	padding:10px 15px 0px 15px;
}

/* Margins */

.margin-6{ 
	margin-top: 6px;
}
.margin-top-5{ 
	margin-top:5px!important;
}
.margin-top-10{ 
	margin-top:10px!important;
}
.d-block{
	display:block;
}

.margin-top-15{ 
	margin-top:15px!important;
}
.margin-top-20{
 margin-top:20px;
}
.margin-top-24{
 margin-top:24px;
}
.margin-top-25{
 margin-top:25px;
}
.margin-top-30{ 
	margin-top:30px!important;
}
.margin-top-40{ 
	margin-top:40px;
}
.margin-lft-10{ 
	margin-left:10px;
}
.margin-btm-10{ 
	margin-bottom:10px;
}
.margin-rgt-0{ 
	margin-right:0px!important;
}
.margin-bootom-10{ 
	margin-bottom:40px;
}
.margin-bootom-5{
	margin-bottom:5px!important;
}
.mg-bottom-20{
	margin-bottom:20px;
}
.padding-left-right-0{ 
	padding-left:0px;
	padding-right: 0px;
}
.margin-20-0{ 
	margin:20px 0px;
}
.margin-10-0{ 
	margin:10px 0px;
}
.margin-top-105{
	margin-top: 105px;
}
.font-12{ 
	font-size:12px!important  
}
.font-13{ 
	font-size:13px!important  
}
.font-23{ 
	font-size:23px!important  
}
.pading-top-10{ 
	padding-top:10px!important;
}
.width-100{ 
	width:100%!important
}

.mg-0{
	margin:0px!important;
}

.mg-top-0{
	margin-top:0px!important;
}
.martop5-nagative{
	margin-top:-5px!important;
}
.top-space-job-post{
	margin-top:10px!important;
	display:block;
	float:left;
	width:100%;
}
// saj

.border-bottom{
	border-bottom:1px solid #f1f1f1
}
.font-16{ 
	font-size:16px!important
}
.padding-top-bot-10{
	 padding:10px 0px
}
.background-blank{ 
	background:none!important;
	box-shadow:none!important;
}
.padding-left-right{ 
	padding:0px 15px
}

/* Others */
.clr{
	clear:both
}
.no-border{ 
	border: none;
}
.lineheight-none{ 
	line-height:normal!important
}
.border-right-none{ 
	border-right:none!important;
}
.white{
	background:#fff!important;
}
.box-shadow-none{
	box-shadow:none!important
}
.border-top{
	border-top:1px solid #f1f1f1;
}
.border-right{
	border-right: 1px solid #f1f1f1;
}
.border-left{
	border-left: 1px solid #f1f1f1;
}
.border-full{
	border:1px solid #e1e1e1;
}
.width-full{
	width:100%!important;
}

// font-size
.font-16{
	font-size:16px;
}

// text
.text-justify{
	text-align:justify;
}

.bold-none{
	font-family:inherit!important;
}
