<div class="sign-page back-bg">
    <div>
        <!-- Header section of the form -->
        <div class="row new-user-sign-form">
            <h2>Change Your Old Password</h2>
            <p>Please enter a new password for your {{email}} account @ BLOOVO.COM</p>
        </div>
        <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3  col-sm-10 col-sm-offset-1 sign-in">
            <div class="row new-user-sign-form">
                <!-- alert success-->
                <div class="alert comen-alert" *ngIf="successMessage">
                    <i class="zmdi zmdi-check-circle"></i>
                    {{successMessage}}
                </div>
                <!-- alert worng-->
                <div class="alert alert-danger" *ngIf="errorMessage">
                    <i class="zmdi zmdi-close-circle"></i>
                    {{errorMessage}}
                </div>
                <!-- reset password form -->
                <form [formGroup]="changePasswordForm">
                    <div>
                        <input type="password" placeholder="New Password" formControlName="password">
                        <!-- Alert -->
                        <div  *ngIf="(changePasswordForm.controls['password'].touched || !(pristineFlag$ | async)) && changePasswordForm.controls['password'].errors"  class="alert alert-danger alert-dismissible martop5" role="alert">
                            Please enter a new password
                        </div>
                    </div>
                    <div class="margin-top-5">
                        <input type="password" placeholder="Confirm Password" formControlName="password_confirmation">
                        <!-- Alert -->
                        <div  *ngIf="(changePasswordForm.controls['password_confirmation'].touched || !(pristineFlag$ | async)) && changePasswordForm.controls['password_confirmation'].errors"  class="alert alert-danger alert-dismissible martop5" role="alert">
                            Please confirm your new password
                        </div>
                    </div>
                    <div class="margin-top-10">
                        <button (click)="changePassword()">
                            <a>Submit</a>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>