<div class="main-tab load-data-js mobile-tab-top"></div>
<section [class.common-container-inner-public]="_accountService.getAuth()" [class.area-inner]="!_accountService.getAuth()" [class.commen-container-public]="!_accountService.getAuth()">
    <div class="white-box public-top-sp">
        <h2>Contact Us</h2>
        <p>BLOOVO Middle East FZ LLC<br/>
            Dubai Internet City, Building 1, Third Floor, Office 307<br/>
            Tel: +971 (0) 4 452 8108<br/>
            Email: hello@bloovo.com</p>
    </div>
</section>