<div class="sign-page back-bg">
    <div>
        <!-- Header Section -->
        <div class="row new-user-sign-form">
            <h2>Forgot Password?</h2>
            <p class="margin-top-10">If you forgot your password, no worries; enter your email address and <br>we’ll send you a link which you can use to reset your password.</p>
        </div>
        <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 sign-in">
            <div class="row new-user-sign-form">
                <!-- alert Message -->
                <!-- alert success-->
                <div class="alert comen-alert" *ngIf="successMessage">
                    <i class="zmdi zmdi-check-circle"></i>
                    {{successMessage}}
                </div>
                <!-- alert worng-->
                <div class="alert alert-danger" *ngIf="errorMessage">
                    <i class="zmdi zmdi-close-circle"></i>
                    {{errorMessage}}
                </div>
                <!-- form of the forgot password -->
                <form [formGroup]="forgetForm" >
                    <div>
                        <input type="text" placeholder="Enter Your Email" formControlName="email">
                        <!-- Alert -->
                        <div  *ngIf="(forgetForm.controls['email'].touched || !(pristineFlag$ | async)) && forgetForm.controls['email'].errors"  class="alert alert-danger alert-dismissible martop5" role="alert">
                            Please enter your Login Email
                        </div>
                    </div>
                    <div class="margin-top-10">
                        <button (click)="submitEmail()">
                            <a>Submit</a>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>