<div class="sign-page back-bg">
    <div class="bg-sign-up-common">
        <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2  col-sm-10 col-sm-offset-1">
            <div class="sign-logo"><a class="cursor_pointer1" [routerLink]="'/home'"> <img src="images/sign-logo.svg"> </a></div>
        </div>

        <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2  col-sm-10 col-sm-offset-1 sign-in">
            <div class="sign sign-up sign-up-jboseeker-container">
                <h1 class="text-center">Join as a Job Seeker  </h1>  
                <div class="row"> 
                <signup-form-jobseeker [popupMode]="false"></signup-form-jobseeker>
            </div>
        </div>
          
        <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2  col-sm-10 col-sm-offset-1 sign-ftr">
            <h5 class="text-center">Copyright &copy; BLOOVO Middle East FZ LLC. All Rights Reserved.</h5>          
        </div> 
    </div>
</div>




