<div class="sign-page back-bg">
    <div>
        <!-- Header Section -->
        <div class="row new-user-sign-form">

            <p class="navy">Please enter your Email ID which you used to Sign Up using your social media account</p>
        </div>
        <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 sign-in">
            <div class="row new-user-sign-form">
                <!-- alert Message -->
                <!-- alert success-->
                <div class="alert comen-alert">
                    <i class="zmdi zmdi-check-circle"></i>
                    Your Account details have been sent to you successfully
                </div>
                <!-- alert worng-->
                <div class="alert alert-danger">
                    <i class="zmdi zmdi-close-circle"></i>
                    Please enter a valid Email ID
                </div>
                <!-- form of the forgot password -->
                <form>
                    <div>
                        <input type="text" name="phn" placeholder="Enter Your Email ID">
                    </div>
                    <div>

                        <button>
                            <a href="existing-user-email.html">Submit</a>
                        </button>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

