<section class="area-inner commen-container-public">
    <div class="white-box site-map public-top-sp">
        <h2>Site Map</h2>
        <h5>About BLOOVO.COM</h5>
        <ul>
            <li>
                <a [routerLink]="'/home/about'"> About BLOOVO </a>
            </li>
            <li>
                <a href="#"> Contact Details </a>
            </li>
            <li>
                <a [routerLink]="'/home/terms'"> Terms and Conditions </a>
            </li>
            <li>
                <a [routerLink]="'/home/policy'"> Privacy Policy </a>
            </li>
        </ul>
        <hr>
        <h5>Job Seekers</h5>
        <ul>
            <li>
                <a [routerLink]="'/home/signup_jobseeker'">Register as a new job seeker</a>
            </li>

            <li>
                <a [routerLink]="'/home/jobs/all'">Search for jobs</a>
            </li>
            <li>
                <a [routerLink]="'/home/blog'">Blog</a>
            </li>
            <li>
                <a [routerLink]="'/home/companies'">Company Directory</a>
            </li>
            <li>
                <a [routerLink]="'/home/candidate-elevator'">Candidate Elevator Pitch</a>
            </li>
        </ul>
        <hr>
        <h5>Employers</h5>
        <ul>
            <li>
                <a [routerLink]="'/home/signup_employer'">Register as a new employer</a>
            </li>

            <li>
                <a [routerLink]="'/home/blog'">Blog</a>
            </li>
        </ul>

        <hr>
        <h5>Jobs</h5>
        <ul>
            <li>
                <a [routerLink]="'/home/country'">Jobs by Country</a>
            </li>

            <li>
                <a [routerLink]="'/home/sector'">Jobs by Sector</a>
            </li>
        </ul>
    </div>
</section>