<div class="commen-container-less mobile-margin-less mobile-margin-less">
    <div class="col-lg-12 full-screen">
        <!-- general information -->
        <div class="mobile_profile_strip">
            <h3>General Information</h3>
        </div>

        <div class="mobile_profile_container">

            <!-- alert success-->
            <div *ngIf="postSuccessFull" class="alert comen-alert">
                <i class="zmdi zmdi-check-circle"></i>
                Your Information Successfully changed.
            </div>



            <form [formGroup]="commonForm">
                <div>
                    <span>Company Name</span>
                    <input type="text" name="company_name"  placeholder="Company Name" formControlName="company_name">
                    <div  *ngIf="(commonForm.controls['company_name'].touched || !(pristineFlag$ | async)) && commonForm.controls['company_name'].errors"  class="alert alert-danger alert-dismissible" role="alert">
                        <button aria-label="Close" class="close" data-dismiss="alert" type="button close-error">
                            <span aria-hidden="true">×</span>
                        </button>
                        Please enter company Name.
                    </div>
                </div>

                <!-- company-Logo -->
                <div>
                    <span>Company Logo</span>
                </div>

                <!-- company-Logo -->
                <div class="plus" *ngIf="!(logoUpdatedObs | async)">


                    <a href="#" data-toggle="modal" [attr.data-target]="'.'+file_profile.classMap">
                        <h4><i class="zmdi zmdi-plus"></i>Add Company Logo</h4>
                    </a>
                </div>

                <!-- change-Picture sfter upload -->
                <div class="plus" *ngIf="(logoUpdatedObs | async)">
                    <a href="#" data-toggle="modal" [attr.data-target]="'.'+file_profile.classMap">
                        <h4><span class="zmdi zmdi-check-circle pull-left"></span><i class="zmdi zmdi-plus"></i>Change Company Logo</h4>
                    </a>
                </div>

                <!-- company-cover -->
                <div>
                    <span>Company Cover Photo</span>
                </div>

                <!-- company-cover -->
                <div class="plus"  *ngIf="!(coverUpdatedObs | async)">
                    <a href="#" data-toggle="modal" [attr.data-target]="'.'+file_cover.classMap">
                        <h4><i class="zmdi zmdi-plus"></i>Add Company Cover</h4>
                    </a>
                </div>


                <div class="plus" *ngIf="(coverUpdatedObs | async)">
                    <a href="#" data-toggle="modal" [attr.data-target]="'.'+file_cover.classMap">
                        <h4><span class="zmdi zmdi-check-circle pull-left"></span><i class="zmdi zmdi-plus"></i>Change Company Cover</h4>
                    </a>
                </div>


                <div>
                    <span>Social Network</span>
                </div>
                <!-- facebook -->
                <div class="relative">
                    <div class="company_network facebook">
                        <i class="zmdi zmdi-facebook"></i>
                    </div>
                    <input type="text" name="facebook_link" formControlName="facebook" placeholder="facebook" class="company_network_input">
                    <div  *ngIf="(commonForm.controls['facebook'].touched || !(pristineFlag$ | async)) && commonForm.controls['facebook'].errors"   class="alert alert-danger alert-dismissible" role="alert">
                        <button aria-label="Close" class="close" data-dismiss="alert" type="button close-error">
                            <span aria-hidden="true">×</span>
                        </button>
                        Invalid Facebook Url
                    </div>
                </div>
                <!-- twitter -->
                <div class="relative">
                    <div class="company_network twitter">
                        <i class="zmdi zmdi-twitter"></i>
                    </div>
                    <input type="text" name="twitter_link" formControlName="twitter" placeholder="twitter" class="company_network_input">
                    <div  *ngIf="(commonForm.controls['twitter'].touched || !(pristineFlag$ | async)) && commonForm.controls['twitter'].errors"   class="alert alert-danger alert-dismissible" role="alert">
                        <button aria-label="Close" class="close" data-dismiss="alert" type="button close-error">
                            <span aria-hidden="true">×</span>
                        </button>
                        Invalid Twitter Url
                    </div>
                </div>
                <!-- linkedin -->
                <div class="relative">
                    <div class="company_network linkedin">
                        <i class="zmdi zmdi-linkedin"></i>
                    </div>
                    <input type="text" name="linked_in"  formControlName="linked_in" placeholder="linkedin" class="company_network_input">
                    <div  *ngIf="(commonForm.controls['linked_in'].touched || !(pristineFlag$ | async)) && commonForm.controls['linked_in'].errors"   class="alert alert-danger alert-dismissible" role="alert">
                        <button aria-label="Close" class="close" data-dismiss="alert" type="button close-error">
                            <span aria-hidden="true">×</span>
                        </button>
                        Invalid LinkedIn Url
                    </div>
                </div>
                <div class="relative">
                    <div class="company_network google_plus">
                        <i class="zmdi zmdi-google-plus"></i>
                    </div>
                    <input type="text" name="google_plus_in"  formControlName="google_plus" placeholder="google_plus" class="company_network_input">
                    <div  *ngIf="(commonForm.controls['google_plus'].touched || !(pristineFlag$ | async)) && commonForm.controls['google_plus'].errors"   class="alert alert-danger alert-dismissible" role="alert">
                        <button aria-label="Close" class="close" data-dismiss="alert" type="button close-error">
                            <span aria-hidden="true">×</span>
                        </button>
                        Invalid Google Plus Url
                    </div>
                </div>

                <!-- border -->
                <div><hr></div>

                <div>
                    <h5>Company Information</h5>
                </div>

                <!-- country -->
                <div>
                    <span>Country</span>
                    <bootstrap-selectbox *ngIf="(commonDataObs | async)?.countries" (selectedId)="onSelectCountry($event)"  [selectedValue]="contact_country_id"  [placeholder]="'Select a Country'" [selectList]="(commonDataObs | async)?.countries">
                    </bootstrap-selectbox>
                    <input type="hidden" name="contact_country_id"  [ngModel]="contact_country_id" formControlName="contact_country_id" >
                    <div  *ngIf="(commonForm.controls['contact_country_id'].touched || !(pristineFlag$ | async)) && commonForm.controls['contact_country_id'].errors"  class="alert alert-danger alert-dismissible" role="alert">
                        <button aria-label="Close" class="close" data-dismiss="alert" type="button close-error">
                            <span aria-hidden="true">×</span>
                        </button>
                        Please select a Country
                    </div>
                </div>



                <!-- city -->
                <div>
                    <span>City</span>
                    <div *ngFor="let sel_country of (commonDataObs | async)?.countries">
                        <auto-comp1 *ngIf="sel_country.id == contact_country_id"
                                    [countryId]="sel_country.id"
                                    [current_city]="cityObj"
                                    [initData]="sel_country.id == cityObj.country_id ?[cityObj]:[]"
                                    (changeCityId)="cityObj.id = $event.id;cityObj.name = $event.name;getCoOrdinates(2)">
                        </auto-comp1>
                    </div>
                    <input  type="hidden" name="contact_city_id"  [ngModel]="cityObj.id" formControlName="contact_city_id" >

                    <div *ngIf="(commonForm.controls['contact_city_id'].touched || !(pristineFlag$ | async)) && commonForm.controls['contact_city_id'].errors"  class="alert alert-danger alert-dismissible martop5" role="alert">
                        <button aria-label="Close" class="close" data-dismiss="alert" type="button close-error">
                            <span aria-hidden="true">×</span>
                        </button>
                        Please select a City
                    </div>
                </div>

                <!-- phone -->
                <div>
                    <span>Phone</span>

                    <jquery-tel   (getProcessedPhoneNo)="getProcessedPhoneNo($event)"  [match]="'phone_no'"
                                  [phone_no]="phoneNo" >

                    </jquery-tel>
                    <input type="hidden" [(ngModel)]="phoneNo" name="phn" formControlName="phone_no" placeholder="Phne Number" class="number_mob">
                    <div *ngIf="(commonForm.controls['phone_no'].touched || !(pristineFlag$ | async)) && commonForm.controls['phone_no'].errors"  class="alert alert-danger alert-dismissible martop5" role="alert">
                        <button aria-label="Close" class="close" data-dismiss="alert" type="button close-error">
                            <span aria-hidden="true">×</span>
                        </button>
                        Please enter your Phone Number
                    </div>
                </div>

                <!-- phone -->
                <div>
                    <span>Email</span>
                    <input type="text" name="email_id" formControlName="email_address" placeholder="Email">
                    <div *ngIf="(commonForm.controls['email_address'].touched || !(pristineFlag$ | async)) && commonForm.controls['email_address'].errors"  class="alert alert-danger alert-dismissible martop5" role="alert">
                        <button aria-label="Close" class="close" data-dismiss="alert" type="button close-error">
                            <span aria-hidden="true">×</span>
                        </button>
                        Please enter Email ID
                    </div>
                </div>

                <!-- Website -->
                <div>
                    <span>Website</span>
                    <input type="text" name="website" placeholder="Website"  formControlName="website_url">
                    <div *ngIf="(commonForm.controls['website_url'].touched || !(pristineFlag$ | async)) && commonForm.controls['website_url'].errors"  class="alert alert-danger alert-dismissible martop5" role="alert">
                        <button aria-label="Close" class="close" data-dismiss="alert" type="button close-error">
                            <span aria-hidden="true">×</span>
                        </button>
                        Please enter the Company's Website
                    </div>
                </div>


                <!-- establishment date -->
                <div class="relative">
                    <span>Establishment Date</span>
                    <input type="hidden" [ngModel]="establishmentDate"   placeholder="From" formControlName="establishment_date">
                    <datePicker-block (emitSelDate)="setDate($event)" [sel_id]="'2'" [dp_value]="establishmentDate"></datePicker-block>

                    <div class="date-ico">
                        <i class="zmdi zmdi-calendar-alt"></i>
                    </div>
                    <div *ngIf="(commonForm.controls['establishment_date'].touched || !(pristineFlag$ | async)) && commonForm.controls['establishment_date'].errors"  class="alert alert-danger alert-dismissible martop5" role="alert">
                        <button aria-label="Close" class="close" data-dismiss="alert" type="button close-error">
                            <span aria-hidden="true">×</span>
                        </button>
                        Please enter the Establishment Date
                    </div>
                </div>

                <!-- type -->
                <div>
                    <span>Type</span>

                    <bootstrap-selectbox *ngIf="(typeListObs | async)" (selectedId)="type_id =$event.id"  [selectedValue]="type_id"  [placeholder]="'Select Company Type'" [selectList]="(typeListObs | async)">
                    </bootstrap-selectbox>
                    <input type="hidden" name="type_id"  [ngModel]="type_id" formControlName="type_id">
                    <div *ngIf="(commonForm.controls['type_id'].touched || !(pristineFlag$ | async)) && commonForm.controls['type_id'].errors"  class="alert alert-danger alert-dismissible martop5" role="alert">
                        <button aria-label="Close" class="close" data-dismiss="alert" type="button close-error">
                            <span aria-hidden="true">×</span>
                        </button>
                        Please select Company Type
                    </div>
                </div>

                <!-- no. of employees -->
                <div>
                    <span>Number of Employees</span>
                    <bootstrap-selectbox *ngIf="(sizesListObs | async)" (selectedId)="size_id =$event.id"  [selectedValue]="size_id"  [placeholder]="'Select No. of Employees'" [selectList]="(sizesListObs | async)">
                 </bootstrap-selectbox>

                    <input type="hidden" name="size_id" [ngModel]="size_id" formControlName="size_id">
                    <div *ngIf="(commonForm.controls['size_id'].touched || !(pristineFlag$ | async)) && commonForm.controls['size_id'].errors"  class="alert alert-danger alert-dismissible martop5" role="alert">
                        <button aria-label="Close" class="close" data-dismiss="alert" type="button close-error">
                            <span aria-hidden="true">×</span>
                        </button>
                        Please select No. of Employees
                    </div>
                </div>

                <!-- classification -->
                <div>
                    <span>Classification</span>
                    <bootstrap-selectbox *ngIf="(classificationsListObs | async)" (selectedId)="classification_id =$event.id"  [selectedValue]="classification_id"  [placeholder]="'Select a Classification'" [selectList]="(classificationsListObs | async)">
                    </bootstrap-selectbox>
                    <input type="hidden" name="classification_id" [ngModel]="classification_id" formControlName="classification_id">
                    <div *ngIf="(commonForm.controls['classification_id'].touched || !(pristineFlag$ | async)) && commonForm.controls['classification_id'].errors"  class="alert alert-danger alert-dismissible martop5" role="alert">
                        <button aria-label="Close" class="close" data-dismiss="alert" type="button close-error">
                            <span aria-hidden="true">×</span>
                        </button>
                        Please select a Classification
                    </div>
                </div>

                <!-- border -->
                <div><hr></div>

                <div>
                    <h5>Address </h5>
                </div>

                <div>
                    <span>Address Line1</span>
                    <input (change)="getCoOrdinates()" type="text" name="addressline1 "placeholder="Address Line" formControlName="address_line1" >
                    <div *ngIf="(commonForm.controls['address_line1'].touched || !(pristineFlag$ | async)) && commonForm.controls['address_line1'].errors"  class="alert alert-danger alert-dismissible martop5" role="alert">
                        <button aria-label="Close" class="close" data-dismiss="alert" type="button close-error">
                            <span aria-hidden="true">×</span>
                        </button>
                        Please enter Address 1
                    </div>
                </div>

                <div>
                    <span>Address Line2</span>
                    <input (change)="getCoOrdinates()" type="text" name="addressline2" placeholder="Addres Line" formControlName="address_line2">
                </div>

                <div>
                    <span>P.O. Box</span>
                    <input (change)="getCoOrdinates()"  type="text" name="po_box" placeholder="Post Box " formControlName="po_box">
                </div>

                <div>
                    <span></span>
                </div>
                <input type="text" name="latitude" [ngModel]="lat"   formControlName="latitude" class="hide">
                <input type="text" name="longitude" [ngModel]="lng"   formControlName="longitude" class="hide">

                <!-- border -->
                <div><hr></div>

                <div>
                    <h5>Location</h5>
                </div>

                <div>
                    <br>
                    <iframe [src]="(locationOffice$ | async)?.google_url | safe"
                            width="100%" height="150" frameborder="0" style="border:0"
                            allowfullscreen>

                    </iframe>
                </div>



                <!-- border -->
                <div><hr></div>

                <div>
                    <a class="save-changes" (click)="onCompanySave()">Save changes</a>
                    <a class="cursor_pointer1 section_cancel" (click)="onBack()" >Cancel</a>
                </div>

            </form>
        </div>


    </div>
</div>
