<spinner [visible]="certSpinnerFlag"></spinner>
<form [formGroup]="certificate.cert_form">

    <div class="work-logo">
        <div class="work-lg-defalt"><i class="zmdi zmdi-file-text"></i></div>
    </div>
    <div class="work-exp-details">
        <div>
            <div class="col-lg-6">
                <div class="work-exp-form">
                    <div class="full-box">
                        <div class="dark">Certificate</div>
                        <div class="full-box">
                            <input type="text"
                                   name="cert_name"
                                   formControlName="cert_name"
                                   placeholder="Name of Cerificate" 
                                   >
                            <div  *ngIf="(certificate.cert_form.controls['cert_name'].touched || !certificate_pristine)&& !certificate.cert_form.controls['cert_name'].valid"
                                  class="alert alert-danger alert-dismissible martop5" role="alert">
                                Please enter a Certificate Name
                            </div>
                        </div>
                    </div>

                    <div class="full-box">
                        <div class="dark">Institute Name</div>
                        <div class="full-box">
                            <input type="text"
                                   name="cert_university"
                                   formControlName="cert_university"
                                   placeholder="Name of Institute" 
                                   >

                            <div  *ngIf="(certificate.cert_form.controls['cert_university'].touched || !certificate_pristine) &&
                                         !certificate.cert_form.controls['cert_university'].valid"
                                  class="alert alert-danger alert-dismissible martop5" role="alert">
                                Please enter an Institute Name
                            </div>
                        </div>
                    </div>

                    <div class=" clearfix"></div>
                </div>
            </div>
            <div class="col-lg-6">
                <div>
                    <div class="full-box">
                        <div class="half-box-lft">
                            <div class="full-box">
                                <div class="dark">Start Date</div>
                                <div class="full-box relative">
                                    <input type="hidden"
                                           formControlName="cert_start_date"
                                           name="cert_company_start_date"
                                           #certStartDate
                                           [ngModel]="startDate | date:'d MMMM, yyyy'"
                                           (change)="selectStartDate(certStartDate)"
                                           placeholder="From">
                                    <datePicker-block (emitSelDate)="certificate.cert_form.controls['cert_start_date'].setValue($event['selDate']);certificate.cert_form.controls['cert_end_date'].setValue(null)"
                                                      [dp_placeholder]="'From'"
                                                      [sel_id]="cert_index+'_'+display_mode+'14'"
                                                      [toYear]="toYear"
                                                      [maxDate]="maxDate"
                                                      [dp_value]="certificate.cert_form.controls['cert_start_date'].value" >
                                    </datePicker-block>
                                    <div  *ngIf="(certificate.cert_form.controls['cert_start_date'].touched || !certificate_pristine)&&
                                         !certificate.cert_form.controls['cert_start_date'].valid"
                                          class="alert alert-danger alert-dismissible martop5" role="alert">
                                        Please enter Start Date
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="half-box-rgt">
                            <div class="full-box">
                                <div class="dark">End Date</div>
                                <div class="full-box relative">
                                    <input type="hidden"
                                           name="cert_company_end_date"
                                           formControlName="cert_end_date"
                                           #certEndDate
                                           [ngModel]="endDate | date:'d MMMM, yyyy'"
                                           (change)="selectEndDate(certEndDate)"
                                           placeholder="To">
                                    <datePicker-block (emitSelDate)="certificate.cert_form.controls['cert_end_date'].setValue($event['selDate'])"
                                                      [dp_placeholder]="'To'"  [sel_id]="cert_index+'_'+display_mode+'15'"
                                                      [dateRangeFlag]="true"
                                                      [toYear]="toYear"
                                                      [maxDate]="maxDate"
                                                      [dp_startDate]="certificate.cert_form.controls['cert_start_date'].value"
                                                      [dp_value]="certificate.cert_form.controls['cert_end_date'].value">
                                    </datePicker-block>

                                    <div  *ngIf="(certificate.cert_form.controls['cert_end_date'].touched || !certificate_pristine )&&
                                         !certificate.cert_form.controls['cert_end_date'].valid"
                                          class="alert alert-danger alert-dismissible martop5" role="alert">
                                        Please enter End Date
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="full-box">
                    <div class="half-box-lft">
                        <div class="dark">Grade</div>
                        <div class="full-box">
                            <input type="text"
                                   formControlName="cert_grade"
                                   name="cert_grade"
                                   placeholder="Enter your Grade" 
                                   >

                            <div  *ngIf="(certificate.cert_form.controls['cert_grade'].touched || !certificate_pristine)&&
                                         !certificate.cert_form.controls['cert_grade'].valid"
                                  class="alert alert-danger alert-dismissible martop5" role="alert">
                                Please enter Grade
                            </div>
                        </div>
                    </div>

                    <div class="clearfix"></div>

                </div>
                <div class="clearfix"></div>
            </div>
            <div class="col-lg-12">
                <div class="block-title-2 padding-0 border-none margin-top-5">
                    <button (click)="onSaveCERT(cert_index)"><i class="zmdi zmdi-floppy"></i> Save</button>
                    <span class="span-button" (click)="onCancelCERT(cert_index)">
                          <i  class="zmdi zmdi-close"></i>
                             Cancel
                        </span>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class=" clearfix"></div>
</form>
<!--<up-load [file]="certificate.cert_file_D"></up-load>-->