// --------blog ----------

.blog{
    .zero-margin{
        padding-left:0px !important;
        padding-right:0px !important
    }
    .blog_listing{
        background-color:$white;
        width: 100%;
    }

    .blog_post_thumbnail{
        width: 150px;
        height: 120px; background:$blue-light;
        overflow: hidden;
        background-image: url(../../assets/images/blog.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: $font-30;
        float: left;
        img{
            display:block;
            height: 100%;
            width: auto;
            margin: 0px auto;
        }
    }


    .blog_post_detail{
        width: calc(100% - 160px);
        float: left;
        padding-left:10px;

        h1{
            font-size: $font-18;
            color: $navy-dark;
            padding:0px;
            margin:0px;
            display: block;
            font-family:$font-medium;
        }
        span{
            font-size: $font-14;
            color: $blue-bali;
            padding-top:5px;
            i{
                color: $navy-light;
            }
            strong{
                font-weight: normal;
                color: $navy-dark
            }
        }
        p{
            font-size:$font-16;
            color:$blue-bali;
            padding-top:5px;
            overflow: hidden;
            display: block;
            width: 100%;

        }
        .line-clamp {
              display: -webkit-box;
              -webkit-line-clamp: 4;
              -webkit-box-orient: vertical;
        }
    }

    .like-comment{
        span{
            display: inline-block;
            padding:0px 5px 5px 0px;
            padding-right:15px;
            a{
                color: $blue-bali;
            }
            i{
                padding:0px;
                padding-right:5px;
            }
        }
    }
    .social-section{
        .social-media{
            .facebook{
                background:#37579a;
            }
            .twitter{
                background:#0ab8e3;
            }
            .linkdin{
                background:#1576b9;
            }
            .google-plus{
                background:#df4a32;
            }
            .skype{
                background:#0ad1e3;
            }
            .s-media{
                float:left;
                height: 30px;
                width: 30px;
                text-align: center;
                line-height: 30px;
                border-radius:50% 50% 50% 50%;
                margin-right: 5px;

                i{
                    color:$white
                }
            }
            .s-media:hover{
                opacity:0.86
            }
            .fb{

                ul{
                    height: 40px;
                    width: auto;

                    li{
                    display:block;
                    width: auto;
                    height: 40px;
                    float:left;

                        .feld-url{
                            width: 82%!important;
                            height: 40px;
                        }
                        .social-area{
                            width: 300px;
                        }
                    }

                }
            }
        }
}

}

.cover-blog{
    height:400px;
    background-size:cover;
    background-repeat:no-repeat;
}


// blog side bar

.blog_sidebar{
    background-color:#fff;
    width: 100%;
    float:left;
    .tag-section{
        padding:20px;
        float:left;
        ul{
            li{
                display: inline-block;
                margin-right: 5px;
                height: 35px;
                line-height: 35px;
                text-align: center;
                padding:0px 15px;
                border: 1px solid $navy-dark;
                margin-bottom: 5px;
                a{ color: $navy-dark;}
                &:hover{ opacity:0.5}
            }

        }
    }
    .line-clamp {
          display: -webkit-box !important;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
    }
    .blog_post_detail{
        padding-left:10px;
        float: left;
        width: calc(100% - 70px);
    }
    .zero-margin{
        padding-left:0px !important;
        padding-right:0px !important
    }
    h2{
        padding:10px 15px;
        display: block;
        border-bottom:1px solid #f1f1f1;
        margin: 0px;
        font-size: $font-16;
        font-family: $font-medium;
        color: $navy-dark;
        float: left;
        width: 100%;
    }

    .blog_post_thambnail_small{
        width: 70px;
        height: 60px;
        overflow: hidden;
        background: #badcfd;
        background-image: url(../../assets/images/blog.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size:$font-20;
        float: left;
        img{
            width: auto;
            height: 100%;
        }
    }

    .top_viewed{
        float: left;
        width: 100%;
        padding:10px;
        ul{
                margin: 0px;
            li{
                display: block; margin-bottom:-1px;
                width: 100%;
                float: left;
                padding:10px 0px;
                border-bottom:1px solid #f1f1f1;
            }
        }

        h1{
            font-size: $font-14;
            color: $navy-dark;
            padding:0px; margin:0px;
            display: block;
            overflow: hidden;
            font-weight: normal;
            width: 100%;
            font-family:$font-medium;
        }
        span{
            display: block;
            font-size:$font-14;
            color: $blue-bali;
            i{
                padding-right:5px;
                color: $navy-light;
            }

        }
    }
}

// blog detail

.blog_detail{
    background:$white;
    float: left;
    width: 100%;
    .zero-margin{
        padding-left:0px !important;
        padding-right:0px !important
    }
    h2{
        padding:15px;
        display: block;
        margin: 0px;
        font-size: $font-18;
        color: $navy-dark;
        float: left;
        font-family: $font-medium;
    }
    button{
        background: #374b61;
        color: #ffffff;
        border: none;
        height: 35px;
        padding: 0em 1.25em;
        margin: 10px 15px;
        float: right;
        i{
            float: left;
            line-height: 25px;
        }
    }
    h4{
        color: $navy-light;
        padding-right:10px;
        font-weight: normal;
    }
    h5{
        color: $navy-light;
        padding-right:10px;
        font-size: $font-16;
        font-family: $font-medium;
        margin: 0px;
    }
    .area{
        width: 100%;
        float: left;

        p{
            display: block;
            width: 100%;
            color: $blue-dark;
            text-align: justify;
            margin: 0px;
        }
        strong{
            font-family: $font-medium;
        }
        .blg-frm{
            background-color:#eef1f3;
            float:left;width:100%;
            padding:15px;
            margin-bottom: 15px;
            textarea{
                width: 100%;
                min-height: 115px;
                border:none;
                padding:15px;
                margin-bottom: 0px;
                color: $blue-bali;
            }
            button{
                margin: 0px;
            }
            .font-12{
                margin-bottom:5px;
            }
        }
        .social-section{
            float:right !important;
        }
        .user-coment{
            width: 35px;
            text-align: center;
            float: left;
            height: 40px;
            background:$blue-light;
            color: $navy-dark;
            -webkit-border-radius: 50%/60% 60% 40% 40%;
            -moz-border-radius: 50%/60% 60% 40% 40%;
            border-radius: 50%/60% 60% 40% 40%;
            overflow: hidden;
            img{
                width:100%;
                height: 100%;
            }
             i{
                font-size:$font-16;
                text-align: center;
                line-height: 40px;
            }
        }

        ul{
            li{
                display: block;
                padding:20px 0px;
                float: left;
                width: 100%;
                .commnet-content{
                    padding-right:20px;
                    width:calc(100% - 35px);
                    padding-left:10px;
                    float: left;
                    strong{
                        font-size:$font-14;
                        color: $navy-dark;
                        margin-right: 10px;
                        font-family: $font-medium;
                    }
                    span{
                        // padding-right:10px;
                        color: $blue-dark;
                        i{
                            padding-right:5px;
                            color: $navy-dark;
                        }
                    }
                    p{
                        margin: 0px;
                        padding:0px;
                        text-align:left;
                        font-style:italic;
                        font-family: $font-medium;
                    }
                }


            }
        }

    }
    .blog-post-from{
        width: 40px;
        height: 40px;
        float:left;
        overflow:hidden;
        background-color:#fff;
        padding:0px!important;
        i{
            line-height: 40px;
            text-align: center;
            display: block;
            color: $navy-dark;
            padding:0px!important;
        }
        img{
            width: auto;
            height: 40px;
        }
    }
    .blog_post_by{
        float: left;
        margin-left: 10px;
        h3{
            margin: 0px; padding:0px;
            font-size: $font-14;
            text-align: left;
            color: $navy-dark;
            font-family: $font-medium;
        }
        span{
            color: $blue-dark;
            font-size: $font-14;
            i{
                color: $navy-dark;
                padding-right:5px;
                padding-top:5px;
            }
        }

    }
     .post-image-big{
        width: 100%;
        min-height: auto;
        background:#f1f1f1;
        overflow: hidden;
        background: #badcfd;
        background-image: url(../../assets/images/blog.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size:$font-35;

        img{
            width: 100%;
            height: auto;
        }
     }
     .download-coment-like{
        margin-top: 20px;
        min-height: 35px;
        line-height: 35px;
        border:1px solid #f1f1f1;
        float: left;
        width: 100%;
        .download{
            line-height: 35px;
            padding-right:10px !important;
            color: $navy-dark;
            .loading{
                float:left;
                width: 20px;
                height: 20px;
                line-height:20px;
                background:none;
                margin-right:10px;
                img{
                    width: 20px;
                    height: 20px;
                    vertical-align: inherit;
                }
            }
            i{
                padding-right:8px;
            }
        }
        .like-comment{

            span{
                    display: inline-block;
                    padding-right:15px;
                    width: 100%;
                    text-align: center;
                    border-right:1px solid #f1f1f1;
                a{
                    color: $navy-dark;
                }
                i{
                    padding:0px;
                    padding-right:5px;
                }
            }

        }
    }
}

.commnet-feild{
    width: calc(100% - 45px);
    float: left;
    margin-left: 10px;
}

.left-blog-text{
    width: calc(100% - 80px);
    float: left;
}

.right-blog-text{
    width: 80px;
    float: left;
}

.download-spin-blog{
    .loading{
        margin-right: 0px!important;
        img{
            height: 14px!important;
        }
    }
}

.blog_detail{
    em{
        font-style: italic;
    }
}


